@{
    ViewData["Title"] = "Sobre";
}

<h1>Sobre mim</h1>

<p>
    Sou um Desenvolvedor Web bem qualificado e experiente, com mais de 3 anos de atuação em diversos projetos de desenvolvimento de sites e aplicativos web. Ao longo desse período, adquiri habilidades técnicas importantes e desenvolvi um entendimento das melhores práticas de desenvolvimento, sempre focando na entrega de soluções eficientes e de alta qualidade.
</p>

<p>
    <strong>Contato:</strong><br />
    📞 (88) 99661-3466<br />
    ✉️ cryan.code@gmail.com<br />
    🔗 <a href="https://www.linkedin.com/in/c-ryan-macedo/" target="_blank">LinkedIn</a> |
    <a href="https://github.com/cryan-code1" target="_blank">GitHub</a>
</p>
