@{
    ViewData["Title"] = "Início";
}

<section class="hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1>OLÁ, EU SOU</h1>
            <h2>CARLOS RYAN MACEDO</h2>
            <h3>DESENVOLVEDOR FULL-STACK</h3>
            <p>Com foco no backend, eu transformo desafios complexos em soluções <span class="highlight">eficientes</span>, <span class="highlight">funcionais</span> e <span class="highlight">escaláveis</span></p>
            <div class="social-section">
                <a href="/docs/cv.pdf" target="_blank" class="cv-button">
                     Download CV
                </a>
                <div class="social-icons">
                    <a href="https://github.com/cryan-code1" target="_blank" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://linkedin.com/in/c-ryan-macedo/" target="_blank" class="icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="hero-image">
            <img src="~/images/ryan.jpg" alt="Carlos Ryan" />
        </div>
    </div>
</section>
