<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"] - Meu Portfólio</title>
	<link rel="stylesheet" href="~/css/site.css" />
	<script src="~/js/site.js" defer></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<header>
		<nav class="navbar">
			<a href="/">Início</a>
			<a href="/Home/About">Sobre</a>
			<a href="/Home/Skills"> Habilidades</a>
			<a href="/Home/Projects">Projetos</a>
			<a href="/Home/Contact">Contato</a>
		</nav>
	</header>

	<main role="main" class="container">
		@RenderBody()
	</main>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

	<footer>
		<p>&copy; 2025 - Carlos Ryan</p>
	</footer>
</body>
</html>
